{% extends "quiz/base.html" %}

{% block nav %}
	<li class="nav-item active">
		<a class="nav-link" href="#">return</a>
	</li>
{% endblock nav %}

{% block content %}
	<div class="quiz-container">
		<header>
			<div class="pull-left">HTML5 Quiz</div>
			<div class="pull-right">yeet</div>
		</header>
		<main>
			<form class="questionForm" id="q1" data-question="1">
				<h3> Question </h3>
				<ul>
					<li><input type="radio" name="kock" value="a" />&lt;yeet&gt;</li>
					<li><input type="radio" name="kock" value="b" />&lt;head&gt;</li>
					<li><input type="radio" name="kock" value="c" />&lt;head&gt;</li>
					<li><input type="radio" name="kock" value="d" />&lt;head&gt;</li>
				</ul>
				<button id="submit">Submit</button>
			</form>
			<form class="questionForm" id="q1" data-question="1">
				<h3> Question </h3>
				<ul>
					<li><input type="radio" name="kock" value="a" />&lt;yeet&gt;</li>
					<li><input type="radio" name="kock" value="b" />&lt;head&gt;</li>
					<li><input type="radio" name="kock" value="c" />&lt;head&gt;</li>
					<li><input type="radio" name="kock" value="d" />&lt;head&gt;</li>
				</ul>
				<button id="submit">Submit</button>
			</form>

						<form class="questionForm" id="q1" data-question="1">
				<h3> Question </h3>
				<ul>
					<li><input type="radio" name="kock" value="a" />&lt;yeet&gt;</li>
					<li><input type="radio" name="kock" value="b" />&lt;head&gt;</li>
					<li><input type="radio" name="kock" value="c" />&lt;head&gt;</li>
					<li><input type="radio" name="kock" value="d" />&lt;head&gt;</li>
				</ul>
				<button id="submit">Submit</button>
			</form>

						<form class="questionForm" id="q1" data-question="1">
				<h3> Question </h3>
				<ul>
					<li><input type="radio" name="kock" value="a" />&lt;yeet&gt;</li>
					<li><input type="radio" name="kock" value="b" />&lt;head&gt;</li>
					<li><input type="radio" name="kock" value="c" />&lt;head&gt;</li>
					<li><input type="radio" name="kock" value="d" />&lt;head&gt;</li>
				</ul>
				<button id="submit">Submit</button>
			</form>

						<form class="questionForm" id="q1" data-question="1">
				<h3> Question </h3>
				<ul>
					<li><input type="radio" name="kock" value="a" />&lt;yeet&gt;</li>
					<li><input type="radio" name="kock" value="b" />&lt;head&gt;</li>
					<li><input type="radio" name="kock" value="c" />&lt;head&gt;</li>
					<li><input type="radio" name="kock" value="d" />&lt;head&gt;</li>
				</ul>
				<button id="submit">Submit</button>
			</form>
		</main>
	</div>
{% endblock content %}