{% extends "quiz/basequiz.html" %}

{% block script %}
	<script>
		$(document).ready(function()
		{
			$("#but1").click(function()
			{
				$(".final-container").show();
				$(".rb").attr("disabled",true);
				$(".hide-container").hide();
			});
		});


		function find_max(a,b,c,d)
		{
			if(a>=b && a>=c && a>=d)
			{
				return "pizza";
			}
			else if(b>=c && b>=d)
			{
				return "burger";
			}
			else if(c>= d)
			{
				return "kebab";
			}
			else
			{
				return "hotdog";
			}
		}

		function calculate(user_anwser,compare)
		{
			var j=0, wynik1=0;wynik2=0;wynik3=0;wynik4=0;
			for(i=0;i<user_anwser.length-1;i++)
			{
				if(i-j > 3)
				{
					j+=4;
				}
				if(user_anwser[i].type == "radio" && user_anwser[i].checked)
				{
					switch(true)
					{
						case user_anwser[i].value === compare[j].value:
							wynik1+=1;
							break;
						case user_anwser[i].value === compare[j+1].value:
							wynik2+=1;
							break;
						case user_anwser[i].value === compare[j+2].value:
							wynik3+=1;
							break;
						case user_anwser[i].value === compare[j+3].value:
							wynik4+=1;
							break;
						default:
							break;
					}
					j+=4;
				}
			}
			var result = find_max(wynik1,wynik2,wynik3,wynik4);
			document.getElementById("Score").innerHTML+=" "+result;
			document.getElementById("diagnose").innerHTML+="Pizza: " + wynik1 + "<br/>" + "Burger: " + wynik2 + "<br/>" + "Kebab: " + wynik3 + "<br/>" + "HotDog: " + wynik4;
		}

		function results()
		{
			var user_anwser=document.getElementsByTagName('input');
			var compare=document.getElementsByTagName('output');
			calculate(user_anwser,compare);
		}
	</script>
{% endblock script %}

{% block title %}
	<img src="media/politics.jpg" class="mt-1">
	<h2>Political Views</h2>
{% endblock %}

{% block compare %}
	<output style="display: none;">{{question.PizzaAns}}</output>
	<output style="display: none;">{{question.BurgerAns}}</output>
	<output style="display: none;">{{question.KebabAns}}</output>
	<output style="display: none;">{{question.HotDogAns}}</output>
{% endblock %}

{% block result_form %}
	<b>Perfect junk food for you is </b><b id="Score"></b>
	<br>
	<b>Anwsers: </b><br><b id="diagnose"></b>
{% endblock %}