@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');


html,body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins';
  color: #222;
  /* removes x slider: overflow-x: hidden; */
  /* removes default navbar hiding */
}

/*---hover effects --*/

/* Glow */
.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*---Navigation --*/
a,a:hover{
  color: #222;
}

.navbar{
  padding: .8rem;
}

.navbar-nav li{
  padding-right: 20px;
  font-size: 20px;
}

.btn-primary{
  background-color: DodgerBlue;
  border: none;
  color: white;
}

.btn-link{
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: DodgerBlue;
  border: none;
  color: white;
}

.button1{
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: DodgerBlue;
  border: none;
  color: white;
}

/*---Image Slider --*/
.carousel-inner img {
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%);
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin: auto;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption h1 {
  font-size: 500%;
  font-weight: bold;
  text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
  font-size: 200%;
  text-shadow: 1px 1px 10px #000;
}

/*---About Us --*/
.jumbotron{
  margin-bottom: 0%;
}

.jumbotron p{
  font-size: 150%;
  text-align: left;
  padding-bottom: 75px;
  padding-left: 7px;
}


/*---Fixed background --*/
.paralax{
  background: url("https://wallpaperstream.com/wallpapers/full/coffee/Coffee-Cup-near-Laptop-Notebook.jpg")
  repeat fixed 100%;
  opacity:0.7;
  background-position: center;
}

.paralax-inner{
  padding-top: 12%;
  padding-bottom: 12%;
}

/*---Image formats --*/
.mt-0 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.mt-1 {
  max-width: 75%;
  max-height: 75%;
  border-style: solid;
  border-width: 3px;
  padding: 2px 2px 2px 2px;
  margin-bottom: 6px;
}

.mt-2 {
  padding-bottom: 15px;
}

.mt-3 {
  max-width: 70%;
  max-height: 70%;
  margin-bottom: 5px;
}

.mt-4 {
  max-width: 50%;
  max-height: 50%;
}

/*---Technology --*/
.fa-code {
  color: #e54d26;
}
.fa-bold {
  color: #563d7c;
}
.fa-css3 {
  color: #2163af;
}
.fa-code, .fa-bold, .fa-css3 {
  font-size: 4em;
  margin:1rem;
}

.quiz-picture-container {
  position: relative;
  text-align: center;
  padding-top: 1%;
  background-color: Brown; 
}

.quiz-picture-container h2 {
  color: White;
  font-size: 350%;
  font-weight: bold;
  text-shadow: 1px 1px 15px #000;
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background-container {
  background-color: Brown; 
  padding-top: 1%; 
  padding-bottom: 2%;
  padding-left: 16%;
  padding-right: 16%;
}

.quiz-container{
  text-align: center; 
  padding-top: 1%; 
  padding-bottom: 1%; 
  background-color: Silver;
}

.quiz-container h3 {
  font-size: 250%;
}

.quiz-container b {
  font-size: 150%;
}

.submit_button {
  margin-left:39%; 
}

.submit_button , .show_button , .hide_button {
  margin-top:10px;
  margin-bottom:10px;
  font-size: 150%;
  background-color: Brown;
  color: Silver;
}

.rb {
  height: 18px;
  width: 18px;
  margin-right: 7px;
}

/*---Footer --*/
footer{
  background-color: Silver;
  color: #282828;
}

footer h5{
  color: #282828;
}

/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}